

body{
    font-family: 'Poppins', sans-serif;
    background-color:#E5E5E5; 
}


/* --------------------header style------------------------- */

.bg{
    background-color:#264653;

}
.button-design{
    background-color: orange;
    color:white;
}
/* --------------------------feature bike style-------------------------------------------- */
.bg-img{
    filter: grayscale(95%);
}