

body{
    font-family: 'Poppins', sans-serif;
    
}


/* --------------------header style------------------------- */

.bg{
    background-color:#264653;

}
.button-design{
    background-color:orangered;
    color:white;
}
/* --------------------------feature bike style-------------------------------------------- */
.bg-img{
    filter: grayscale(95%);
}
/* ------------------------------Clients Section------------------------------------------ */
.heading-part{
    color:orangered
}
.card-h{
    height:478px;
}
.fas{
    color:gold;
}
.card-bottom-text{
    color:blue;
    font-size:13px;
    font-weight:700 ;
}